@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap");

body {
  font-family: "Inter", sans-serif;
}

.app-container {
  margin-top: 6rem;
  margin-left: 10rem;
}

.drag {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}
